<div class="row mt-4">
  <div class="col-md-12">
    <form [formGroup]="form" class="p-1" (ngSubmit)="register()">
      <div class="pb-2 d-block d-md-none">
        <h3 class="border-bottom">Cadastro de Vendedor</h3>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-4">
          <label>Nome</label>
          <input
            type="text"
            class="form-control"
            formControlName="nome"
            [ngClass]="{ 'is-invalid': f.nome.errors && f.nome.touched }"
            placeholder="Insira o nome"
          />
          <div class="invalid-feedback">Nome é obrigatório.</div>
        </div>
        <div class="form-group col-sm-4">
          <label for="">Email:</label>
          <input
            class="form-control"
            type="text"
            formControlName="email"
            [ngClass]="{ 'is-invalid': f.email.errors && f.email.touched }"
            placeholder="Insira o e-mail"
          />
          <div
            *ngIf="f.email.errors?.required && f.email.touched"
            class="invalid-feedback"
          >
            e-mail é obrigatório.
          </div>
          <div
            *ngIf="f.email.errors?.email && f.email.touched"
            class="invalid-feedback"
          >
            Deve ser um e-mail válido.
          </div>
        </div>
        <div class="form-group col-sm-4">
          <label for="">Usuario:</label>
          <input
            class="form-control"
            type="text"
            formControlName="usuario"
            [ngClass]="{ 'is-invalid': f.usuario.errors && f.usuario.touched }"
            placeholder="Insira o usuário do Vendedor"
          />
          <div class="invalid-feedback">Usuário é obrigatório.</div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-4">
        <label>Loja</label>
        <select class="form-control"  formControlName="lojaIdLoja">
        <option *ngFor="let loja of lojas"
        [value]="loja.idLoja" [attr.selected]="idLoja==loja.idLoja? true : null">{{loja.nome}}</option>
      </select>
    </div>
  </div>
      <div>
        <h3 class="pt-3 border-bottom">Mudar Senha</h3>
        <p>Caso mude de senha, preencha os campos abaixo:</p>
      </div>
      <div class="form-row">
        <div class="form-group col-sm">
          <label>Senha</label>
          <input
            class="form-control"
            type="password"
            formControlName="password"
            [ngClass]="{
              'is-invalid': f.password.errors && f.password.touched
            }"
            placeholder="Digite uma Senha"
          />
          <div
            *ngIf="f.password.errors?.required && f.password.touched"
            class="invalid-feedback"
          >
            Senha é obrigatório.
          </div>
          <div
            *ngIf="f.password.errors?.minlength && f.password.touched"
            class="invalid-feedback"
          >
            Deve conter no mínimo 6 caracteres.
          </div>
        </div>
        <div class="form-group col-sm">
          <label>Confirmar Senha</label>
          <input
            class="form-control"
            type="password"
            formControlName="confirmePassword"
            [ngClass]="{
              'is-invalid':
                f.confirmePassword.errors && f.confirmePassword.touched
            }"
            placeholder="Confirme a Senha"
          />
          <div
            *ngIf="f.confirmePassword.errors?.required"
            class="invalid-feedback"
          >
            Confirmar Senha é obrigatório.
          </div>
          <div
            *ngIf="f.confirmePassword.errors?.mustMatch"
            class="invalid-feedback"
          >
            Repedir a senha é obrigatório.
          </div>
        </div>
      </div>

      <div class="card-footer">
        <div class="d-flex">
          <button class="btn btn-success" [disabled]="!form.valid" (click)="salvarVendedor()">
            Salvar Perfil
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
