<h2>Clientes</h2>
<hr>

<form action="" class="form-inline">
  <div class="form-group mb-2">
    <input type="text" class="form-control mr-2" placeholder="buscar">
    <button class="btn btn-outline-sucesses">Buscar</button>
  </div>
</form>

<table class="table table-stripped">
  <thead class="thead-dark">
    <tr>
      <th>#</th>
      <!-- <th>Imagem</th> -->
      <th>Nome</th>
      <th>Telefone</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <!-- <td></td> -->
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

<!-- <div *ngFor="let cliente of clientes">
  <p><b>Nome:</b>{{cliente.nome}}</p>
  <p><b>Telefone:</b>{{cliente.telefone}}</p>
  <hr>
</div> -->
