<div class="card rounded shadow-sm">
  <form [formGroup]="form">
    <div class="p-3">
      <div class="form-row">
        <div class="form-group col-md-12">
          <label>Descrição</label>
          <input
            type="text"
            class="form-control"
            [ngClass]="cssValidator(f.descricao)"
            formControlName="descricao"
            placeholder="Insira a descrição"
            [(ngModel)]="combustivel.descricao"
          />
          <div *ngIf="f.nome.errors?.required" class="invalid-feedback">
            Descrição é obrigatória.
          </div>
          <div *ngIf="f.nome.errors?.minlength" class="invalid-feedback">
            Descrição deve ter no mínimo 4 caracteres.
          </div>
          <div *ngIf="f.nome.errors?.maxlength" class="invalid-feedback">
            Descrição deve ter no máximo 100 caracteres.
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex">
        <button
          class="btn btn-outline-secondary mr-auto border"
          (click)="resetForm()"
        >
          Cancelar Alteração
        </button>
        <button
          class="btn btn-success"
          [disabled]="!form.valid"
          (click)="salvarCombustivel()"
        >
          Salvar
        </button>
      </div>
    </div>
  </form>
</div>
